.box {
    display: flexbox;
    width: 90px;
    height: 100px;
    background-color: rgb(195, 147, 239);
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    border: solid black 1px;
}